:root {
    --short-list-line-height: 20px;
    --list-line-height: 25px;
    --small-margin: 0.5rem;
    --smaller-margin: 0.25rem;
    --smaller-smaller-margin: 0.1rem;
    --medium-small-margin: 0.75rem;
    --medium-margin: 1rem;
    --medium-medium-large-margin: 1.25rem;
    --medium-large-margin: 1.5rem;
    --large-margin: 2rem;
    --file-top-bar-height: 50px;
    --file-bottom-bar-height: var(--list-line-height);
    --file-bar-bg-color: rgb(242, 242, 242);
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
